{% extends "AppCode/base.html" %}

{% block contenido %}
    <h1 class="text-center">Bienvenidos al Sistema Turnapp</h1>
    <div class="col-md-10 "style="background-image: url('https://img.freepik.com/fotos-premium/pasillo-hospital-borroso-abstracto-desenfocado_293060-927.jpg?w=1380');
    height:600px; background-repeat: no-repeat; margin-left: 200px;"></div><br>
    <p class="fw-bold text-center">Turnapp resuelve de forma eficiente la atención, el registro de prestaciones y usuarios, facilitando la gestión completa de los pacientes.</p>
{% endblock %}