{% extends "AppCode/base.html" %}

{% block contenido %}

<div class="container">   
    <p class="text-center fs-2 text">Listado de Turnos</p>
    <br>

    <form action="{% url 'BuscarTurnos' %}" method="Post" class="row g-3">
    {% csrf_token %}
    <input type="text" name="busqueda" class="form-control" placeholder="Buscar por...">
    <div class="d-grid gap-2 col-6 mx-auto">
        <input type="submit" value="Buscar" class="btn btn-success mb-3">
    </div>
    </form>
    <br>

    <table class="table table-sm">
        <tbody>
          <tr>
            <th>Fecha</th>
            <th>Apellido del Doctor</th>
            <th>DNI del Paciente</th>
          </tr>
          {% for turno in turnos %}
          <tr>
            <td>{{ turno.fecha }}</td>
            <td>{{ turno.apellido_doctor }}</td>
            <td>{{ turno.dni_paciente }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

{% endblock %}